xrandr --output HDMI-2 --primary --mode 1920x1080 --output HDMI-1-3 --mode 1920x1080 --left-of HDMI-2
setxkbmap -model pc105 -layout us,ru -option grp:toggle
feh --bg-fill ~/pictures/train_wp.png
xfsettingsd &
dwmblocks &
