polybar&
feh --bg-fill ~/pictures/anime_landscape.jpg&
setxkbmap -layout us,ru -option ctrl:nocaps -option grp:toggle
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_DATA_DIRS="$HOME/.local/share:/usr/local/share:/usr/share"


